[2019-04-01 16:12] ctk21 opened #7 "Ability to collect perf stats on a benchmark run"
On Linux we would like to be able to collect 'perf stat' on the benchmark process.

We would like to collect the following counters:
  - basic:
task-clock, instructions, cpu-cycles, stalled-cycles-frontend, branches, branch-misses
 - front-end to back-end pipeline:
idq_uops_not_delivered.core, lsd.cycles_active
 - memory:
L1-icache-load-misses, L1-dcache-load-misses, iTLB-load-misses, dTLB-load-mi

[2019-04-01 16:14] ctk21 opened #8 "Interface/ability to run compiler variants easily in sandmark"
We would like to be able to run compiler variants (e.g. flambda) in sandmark.

Right now, the ocaml-versions/<version no>.comp files only contain the source location, but do not allow for custom build flags.

[2019-05-02 12:06] ctk21 opened #15 "Are we able to make ctypes automatically work for both multicore and stock ocaml"
Right now we have a workaround for getting ctypes to work on multicore:
 https://github.com/ocamllabs/sandmark#ctypes

Is there a solution that will make it work on both stock ocaml and multicore without editing the source location?

[2019-05-02 12:10] ctk21 opened #16 "alt-ergo benchmarks fail on multicore due to Obj.truncate usage"
The alt-ergo benchmarks do not run on multicore, for example:
[code]
The problem is that Obj.truncate is not supported on multicore.

For info, Obj.truncate will be deprecated in OCaml (likely 4.09):
  https://github.com/ocaml/ocaml/pull/2279

[2019-05-02 12:16] ctk21 opened #17 "frama-c benchmarks fail on multicore (build and run)"
frama-c benchmarks fail to build on multicore:
 - ctypes is a dependency (but see https://github.com/ocamllabs/sandmark#ctypes for workaround)
 - it uses the name `effect` which is a keyword in multicore. Patch to get going in sandmark here: https://github.com/ocamllabs/sandmark/tree/bugfix/ctk21/frama-c-multicore-effects

Even with frama-c building, the binary segfaults on multicore. There is a m

[2019-05-02 12:21] ctk21 opened #18 "js_of_ocaml fails to run on multicore"
See issue #17 on how to get frama-c building on multicore.

js_of_ocaml was failing with `Error: Js_of_ocaml_compiler__Instr.Bad_instruction(983041)`

might be additional bytecode instructions added in multicore and not supported by js_of_ocaml?

[2019-05-09 09:10] kayceesrk opened #19 "How to run single-threaded benchmarks alone?"
`make ocaml-versions/4.06.0.bench` fails to compile kcas package, unsurprisingly. How do I run just the single threaded benchmarks?

[code]

[2019-05-09 14:49] ctk21 commented on #19
The benchmarks are actually run (see the opam exec... line).
However the error is confusing and we shouldn't try to build multicore packages unless we are running the multicore benchmarks. I've put in PR #20 to fix this.

[2019-05-09 15:39] kayceesrk commented on #19
Fixed by #20.

[2019-05-09 15:39] #19 closed

[2019-06-11 10:44] gretay-js commented on #7
I have a little utility that parses perf stat outputs and prints out a comparison table.
https://github.com/gretay-js/perfstatdiff/tree/multifile

[2019-06-17 09:28] ctk21 opened #34 "sandmark dune version not compiling with 4.09"
sandmark is unable to run the 4.09 branch after this commit:
 https://github.com/ocaml/ocaml/commit/a7e7e8e7454406d5b714bff7971d365b34b653a4

sandmark is using a custom dune to make it work with multicore:
 https://github.com/ocaml-bench/sandmark/blob/master/dependencies/packages/dune/dune.1.7.1/opam

Unfortunately sandmark is unable to compile dune after the 4.09 commit above. We get the followin

[2019-06-27 10:48] stedolan commented on #34
That sounds like it might be a bug in 4.09?

[2019-07-11 09:14] snimmagadda opened #37 "Make benchmark wrapper user configurable"
From Tom Kelly on slack: "one thing that would be awesome in sandmark is the ability to configure the benchmark wrapper that collects the stats. Right now we have `orun -o <output> -- <program-to-run> <program-arguments>` which is static in the dune file. It would be nice if we could have the user configure in a central place `<command> -o <output> -- <program-to-run> <program-arguments>`. This ca

[2019-07-11 09:21] snimmagadda opened #38 "Add ability to let user specify command line arguments to benchmark wrapper."
From Tom Kelly: "while addressing #37, it would be nice to let user specify any command line arguments to benchmark wrapper itself `<command> <command-arguments> -o <output> -- <program-to-run> <program-arguments>`

[2019-07-25 12:40] ctk21 commented on #34
We've put in a workaround to get sandmark running: #41

For more on the underlying dune issue see: https://github.com/ocaml/dune/pull/2429

[2019-07-25 12:40] #34 closed

[2019-10-03 14:47] ctk21 opened #58 "split out multibench target into serial and parallel"
We have old code to split the multibench target into serial and parallel:
https://github.com/ocaml-bench/sandmark/tree/split_multibench_serial_parallel

This issue is a placeholder as we closed out #39 to progress #54

[2019-10-14 17:20] gs0510 opened #64 "Making Output location for run statistics 'required'"
The command line does not specify that the output location is mandatory or else orun will fail with the following error:
` orun: internal error, uncaught exception:
      Sys_error(": No such file or directory")
`

There are two ways to fix this:
1. Either make [this](https://github.com/ocaml-bench/sandmark/blob/master/orun/orun.ml#L262) argument here positional (since Cmdliner doesn't provide opt

[2019-10-16 15:01] gs0510 commented on #64
Fixed by #65

[2019-10-16 15:01] #64 closed

[2019-11-20 07:35] kayceesrk commented on #58
Given that #54 is merged, what needs to be added in the `run_config.json` file to be able to run multicore serial and multicore parallel programs?

[2019-11-21 12:39] kayceesrk commented on #58
This can be closed now that #68 is merged.

[2019-11-21 14:30] #58 closed

[2020-02-28 06:14] kayceesrk opened #90 "More parallel benchmarks"
Suggestions are:

* Cubicle model checker http://cubicle.lri.fr/
* Aeio web server https://github.com/kayceesrk/ocaml-aeio

[2020-03-03 09:02] kayceesrk commented on #90
* Linkbench https://github.com/facebookarchive/linkbench
* Hack language https://github.com/facebook/hhvm/tree/master/hphp/hack/src

[2020-03-09 04:26] kayceesrk commented on #7
This has been integrated into sandmark. Closing.

[2020-03-09 04:26] #7 closed

[2020-03-09 04:27] kayceesrk opened #94 "Builds breaking due to `weak_htbl.ml`"
CI builds are breaking now due to `weak_htbl.ml` addition. Unbreak this.

[2020-03-09 04:28] kayceesrk opened #95 "Run parallel benchmarks in navajo.ocamllabs.io"
Now that we know how to run parallel benchmark, we should run them in our CB server.

p.s: Not sure if this is the right place to add this issue. We don't have an issue tracker for CB.

[2020-03-09 04:30] kayceesrk opened #96 "Sandmark Analyze notebooks"
The new sandmark analyze (https://github.com/ocaml-bench/sandmark-analyze) notebooks should be hosted as a service. This will help the exploration of measurements other than running time.

[2020-03-10 04:25] kayceesrk commented on #94
Disabled `weak_html.ml` for now.

[2020-03-10 04:25] #94 closed

[2020-03-18 03:54] UnixJunkie opened #99 "a numerical bench: Gram matrix initialization in parallel"
https://github.com/UnixJunkie/gram-matrix-bench

the multicore-OCaml portion needs to be filled in.

You are welcome to import this test into your test suite.
Gram matrix initialization is useful in several machine learning applications.

Regards,
F.

[2020-03-18 07:26] kayceesrk commented on #99
Thanks @UnixJunkie. @Sudha247 will integrate the Multicore OCaml version of this benchmark into sandmark.

[2020-03-18 07:44] Sudha247 commented on #99
@UnixJunkie : I see that this implementation of gram-matrix uses `batteries` and `batteries` doesn't work with Multicore yet. We will have to remove `batteries`' dependency to build this with Multicore OCaml.

[2020-03-18 07:47] UnixJunkie commented on #99
Ok, I'll get rid of the batteries dependency and let you know.
Should be quick.

[2020-03-18 07:57] UnixJunkie commented on #99
By the way, can you open a bug against batteries?
If there is a problem to fix, we should know about this problem in the first place.
https://github.com/ocaml-batteries-team/batteries-included/issues

[2020-03-18 08:19] UnixJunkie commented on #99
@Sudha247 I'm done, there is no more dependency to batteries in my proposed benchmark. If multicore ocaml manages to beat parmap's parallelization performance, please do drop me an e-mail. :)

[2020-03-21 06:26] kayceesrk commented on #99
GramMatrix is now included in Sandmark: https://github.com/ocaml-bench/sandmark/pull/100. @Sudha247 can you post the performance comparison between multicore and the other parallel versions?

[2020-03-23 01:56] UnixJunkie opened #101 "sandmark requires the system package libdw-dev on Ubuntu"
Since there is no opam file, its installation is not automatic.

Maybe, there should be an opam file.

[2020-03-23 02:29] UnixJunkie commented on #99
I am interested to see the exact command being run to launch the Gram matrix bench using multicore-OCaml.
My current test:
[code]
just runs a sequential program.

[2020-03-23 05:33] Sudha247 commented on #99
These are the numbers for `grammatrix_multicore.exe` on `4.06.1+multicore`:

| Number of cores | time   | user_time | sys_time |
|-----------------|--------|-----------|----------|
| 1               | 96.726 | 96.349    | 0.392    |
| 2               | 74.348 | 97.717    | 0.804    |
| 4               | 44.624 | 98.737    | 0.980    |
| 8               | 30.742 | 99.169    | 1.712    |
| 12

[2020-03-23 05:44] UnixJunkie commented on #99
@Sudha247 what is the command that you are using to get those results?

[2020-03-23 05:47] UnixJunkie commented on #99
The table should include a speedup column (sequential_time / multi-thread_time).

[2020-03-23 05:48] Sudha247 commented on #99
@UnixJunkie This is the command used to run the multicore version
[code]
16 is the number of cores here which can be adjusted.

To run the parallel benchmarks, you can use the `run_all_parallel.sh` file.

[2020-03-23 06:11] UnixJunkie commented on #99
Here are the results I get with parmap:
[code]

[2020-03-23 06:18] UnixJunkie commented on #99
Your results converted to speedup:
[code]

[2020-03-23 06:40] UnixJunkie commented on #99
Maybe your multi-thread implementation has a load balancing problem.
I guess compute_gram_mat is not constant time (though I have no idea
about what 'Domain.Sync.poll();' is doing).
The job computing the first line of the Gram matrix (which has N elements) should also compute
the last line of the Gram matrix (it has only 1 unknown elements).
The job computing the second line of the Gram matrix (N-

[2020-03-23 08:51] kayceesrk commented on #99
@Sudha247 can you post just the `time` numbers for multicore and parmap that were obtained on our benchmarking server. I assume https://github.com/ocaml-bench/sandmark/issues/99#issuecomment-602405803 and https://github.com/ocaml-bench/sandmark/issues/99#issuecomment-602407533 were obtained on different machines?

[2020-03-23 08:59] kayceesrk commented on #101
The easiest way now would be to add a `Make` rule called `depend` which installs `libdw-dev`. I'm not sure if an OPAM file is the right way to install system dependencies. @shakthimaan would you be able to do this?

[2020-03-23 09:09] shakthimaan commented on #101
Sure, but, the package names are specific to .deb based distributions. Actually, you require both `libgmp-dev` and `libdw-dev` to be installed on Ubuntu, and this is mentioned in the "pre-requisities" section in the README file.

[2020-03-23 09:47] UnixJunkie commented on #99
@kayceesrk your assumption about different machines is correct (I am still unable to run the multicore-ocaml version of the bench...)

[2020-03-23 09:52] UnixJunkie commented on #101
opam is the right way to install system dependencies.
E.g. in an opam file:
[code]
Allows to create package installs depending on the Linux distro.
Supporting Debian and Ubuntu would be the very minimum.
Usually, in opam, conf-* packages are full of such statements.

[2020-03-23 14:22] Sudha247 commented on #99
Indeed this might not be the optimal multicore version of this benchmark. On our benchmarking server, the following numbers were obtained.

**ConcMinor** (concurrent minor collector) is `4.06.1+multicore` which can be found [here](https://github.com/ocaml-multicore/ocaml-multicore) and **ParMinor** (parallel minor collector) can be found here [here](https://github.com/ctk21/ocaml-multicore/tree/st

[2020-03-24 01:00] UnixJunkie commented on #99
I just time the initialization of the Gram matrix:
[code]
Note that in your results, up to 12 cores, Parmap is still better.

[2020-03-24 01:09] UnixJunkie commented on #99
@Sudha247 if you manage to scale better, Gram matrix initialization is a useful real-world problem.
Feel free to write the algorithm in which ever way is the most efficient for multicore-OCaml.

[2020-03-24 01:11] UnixJunkie commented on #99
Also, the bench should be run several times for each multic-core config, avg and stddev computed.

[2020-03-24 04:49] kayceesrk commented on #99
We shouldn't benchmark against two different versions of the compilers. parmap version should also be 4.06.1. Is parmap version using batteries? If so, that must be ported to use whatever multicore is using.

[2020-03-24 05:10] UnixJunkie commented on #99
Parmap does not depend on batteries.

[2020-03-24 05:41] Sudha247 commented on #99
Noted, thanks! I have updated my original comment with the numbers for `4.06.1`.

[2020-03-24 09:11] kayceesrk commented on #99
I've redone the multicore version with load balancing. Here are the results:

## Running time (seconds)

Baseline = 92.55 seconds

Cores | Multicore (ConcMinor) | Parmap | Parnay
-- | -- | -- | --
1 | 96.06382418 | 105.02 | 92.95
2 | 48.66779995 | 54.73 | 54.34
4 | 24.92529607 | 31.57 | 28.08
8 | 12.95011806 | 18.57 | 21.52
12 | 9.000571966 | 14.7 | 27.85
16 | 7.06490612 | 13.97 | 23.85
20 | 5.884

[2020-03-24 16:41] shakthimaan commented on #101
I shall add an opam file for sandmark shortly. If you already have one that we can use, please feel free to create a PR. Thanks!

[2020-03-25 00:47] UnixJunkie commented on #101
I don't have one, sorry.

[2020-03-25 00:59] UnixJunkie commented on #99
Note that if you play with chunksize to get better performance with multicore-OCaml,
you should also play with it for Parmap and Parany, to see which chunksize is the best for them.

I was also busy. :)

Parany has a new branch called sendmsg. The version on this branch
is significantly faster than before (but only works on Linux for the moment).
Also, I updated the code in
https://github.com/Unix

[2020-03-25 09:07] kayceesrk commented on #99
I did a bit of experimentation with chunk sizes and it looks like a chunk size of 3 is the most efficient for parmap and parany. For multicore, it is set to 16, though going lower does not impact performance. I ran the benchmark on a 56 core machine.

I ran the benchmarks with the latest updates. parany is performing worse than before.

Cores | Multicore (ConcMinor) (chunk size = 32) | Speedup | P

[2020-03-25 09:07] #99 closed

[2020-03-25 09:30] UnixJunkie commented on #99
Yes, and it looks like a clear win for multicore-OCaml.
I am impressed; nice work.

[2020-03-26 03:04] kayceesrk commented on #95
@shakthimaan assigning this to you.

[2020-03-26 03:45] UnixJunkie commented on #99
FTR, the results of my bench (just Parmap Vs. Parany) can be seen
in the picture in the README.md file there:
https://github.com/UnixJunkie/gram-matrix-bench

[2020-03-30 09:48] kayceesrk commented on #101
We also need to ensure python3 and pip3 is installed. And also intervaltree library.

[code]

[2020-03-31 06:23] #101 closed

[2020-03-31 06:24] kayceesrk commented on #101
Addressed by #103 and #104.

[2020-04-01 16:13] kayceesrk opened #105 "Improve microbenchmarks"
A few of the microbenchmarks need to be improved. In particular, between multicore and trunk, the finalise microbenchmark measures the performance difference in mark stack overflow handling. lazy_primes measures the efficiency of major heap allocator.

[2020-04-02 08:31] kayceesrk opened #106 "Promote dune to > 2.0"
Currently, sandmark only works with system dune < 2.0. We use dune.1.11.4 (See https://github.com/ocaml-bench/sandmark/blob/master/README.md#pre-requisites). Using dune > 2.0 will break the builds of some packages. The necessary fix is:

- [ ] Install system dune version > 2.0
- [ ] Start a benchmarking run and fix all the failing package builds.

Moving forward, this is quite critical as many pac

[2020-04-06 14:00] kayceesrk commented on #96
As a first step, we should move the notebooks that we currently have for the parallel programs to this repo.

[2020-04-06 14:01] kayceesrk commented on #96
@shakthimaan can I assign this task to you since you are already looking at this issue?

[2020-04-13 15:19] shakthimaan commented on #96
JupyterHub is a multi-user server for hosting Jupyter notebooks. `The Littlest Jupyter Hub` installation is capable of hosting 0-100 users. The following steps are used for the installation on Ubuntu 18.04.3 LTS:

[code]
If you would like to run the the service on a specific port, say "8082", you need to update the same in `/opt/tljh/state/traefix.toml` file.

By default, the hub login opens at `h

[2020-04-13 16:28] kayceesrk commented on #96
Ok. Would you be able to set this up on one of our machines? Also, we should still do https://github.com/ocaml-bench/sandmark/issues/96#issuecomment-609813351

[2020-04-15 09:52] kayceesrk opened #107 "Add Coq benchmarks"
## Coq Installation on Multicore OCaml

Coq compiles with the multicore compiler now. You'll need this [branch of coq](https://github.com/ejgallego/coq/tree/ocaml%2Bmulticore). You'll also need a `dune` > `2.4.0`. The easiest way to get an installation going is to install `dune.2.4.0` on `4.10.0` and copy the dune binary into the bin folder of the multicore switch. Once that is done, coq can be bu

[2020-04-24 10:57] kayceesrk commented on #96
I've pushed the notebooks: https://github.com/ocaml-bench/sandmark/tree/master/notebooks

[2020-05-02 07:04] shakthimaan commented on #96
The following PR (https://github.com/ocaml-bench/sandmark/pull/109) has been created to:
* Add UI support to interactively select the number of comparisons, bench files and a base variant for the sequential notebook.
* Execute the notebook in JupyterHub CLI using papermill using the following:
[code]

[2020-05-02 07:29] kayceesrk commented on #96
Would be great to have this documented in README

[2020-05-18 07:43] kayceesrk commented on #95
Blocked on #37 and #38. The `taskset` options are specific to the machines and are currently hard coded in the multicore run config json file.

[2020-05-18 13:39] shakthimaan commented on #96
The README has been updated with JupyterHub information and I have added more content with a bit of re-organization. PR at https://github.com/ocaml-bench/sandmark/pull/118

[2020-05-18 15:50] ctk21 opened #119 "Additional benchmarks - hamming and soli"
There are some benchmarks which are not in sandmark but are used by others:
 - hamming.ml: exists in ocaml testsuite, js_of_ocaml benchmarks and operf-micro:
    https://github.com/ocaml/ocaml/blob/4.10/testsuite/tests/misc/hamming.ml
 - soli.ml: exists in ocaml testsuite and js_of_ocaml benchmarks:
    https://github.com/ocaml/ocaml/blob/4.10/testsuite/tests/misc-unsafe/soli.ml

[2020-05-19 04:39] kayceesrk commented on #96
We can consider this issue to be closed. Thanks @shakthimaan!

[2020-05-19 04:39] #96 closed

[2020-05-19 09:05] kayceesrk opened #120 "Add the ability to average out the results from several runs"
Currently, the `Makefile` takes the number of iterations to run the benchmarks as an environment variable `ITER` (default is 1). Each iteration produces a separate folder under `_results`.

While we have removed much of the noise from the executions and our results are generally reproducible, it would be useful to add the ability to average out the stats from several runs. For example, ASLR is tur

[2020-05-22 10:27] mshinwell opened #122 "Measurements of code size"
For compiler benchmarking it's important to have measurements of code size.  The size of the text section of the executable should be fine.

[2020-06-08 08:12] kayceesrk opened #127 "CI should run parallel benchmarks"
Currently we only run the sequential benchmarks in the CI. We should run parallel benchmarks as well. It is useful just to run the benchmark for 2 domains, removing the taskset and chrt commands. This can be done with `jq`.

[2020-06-10 09:40] ctk21 opened #128 "Running sandmark on OS X is broken"
Looks like we've inadvertently broken the ability to run sandmark on OS X.
It looks like there's a couple of issues here:
 - some of the opam pinned packages are failing to build for OS X 10.15.x for example Lwt
 - the benchmarks themselves just fail to run and sadly it doesn't give any errors to help:
[code]

It feels like the ability to run even just the pure OCaml benchmarks (e.g. `benchmarks/m

[2020-06-10 10:01] mshinwell commented on #122
As I just mentioned on slack, we shouldn't measure the text section size: instead sum the sizes of all text symbols whose names match `caml[A-Z].*` plus those matching `caml_{apply,curry,tuplify}.*`.  This will exclude the runtime in particular.

[2020-06-24 21:00] shakthimaan commented on #106
The following two PRs:
* Update decompress benchmarks https://github.com/ocaml-bench/sandmark/pull/131
* Update dependency packages to use dune.2.5.1 and Multicore OCaml 4.10.0 https://github.com/ocaml-bench/sandmark/pull/132
Both the serial and parallel benchmarks run fine!

[2020-07-10 11:37] kayceesrk commented on #106
#131 and #132 have been merged.

[2020-07-10 11:37] #106 closed

[2020-07-14 03:54] kayceesrk opened #137 "PARAMWRAPPER should be CMDWRAPPER"
as it wraps the command not the parameter. The context is https://github.com/ocaml-bench/sandmark/blob/master/Makefile#L8. In

[code]

[code]

@shubhamkumar13

[2020-07-14 04:08] kayceesrk opened #138 "Enrich the functionality of .comp files"
Currently, the compiler variants in `.comp` files only take the URL. We've seen many requests for enriching the functionality of `.comp` files so that the builds and runs may be customized. Some of these are:

1.  `OCAMLRUNPARAM` parameters for the runs. Consider the case of running the same compiler variant with different `OCAMLRUNPARAM` parameters. Currently, there is no way to configure this as

[2020-07-14 07:59] ctk21 commented on #8
Superseded by #138

[2020-07-14 07:59] #8 closed

[2020-07-16 12:28] ctk21 commented on #37
We have this capability with the `wrappers` parameter in `run_config.json`

[2020-07-16 12:28] #37 closed

[2020-07-16 12:29] #38 closed

[2020-07-16 12:31] ctk21 opened #142 "[RFC] How should a user configure a sandmark run?"
If we look at things as a user wanting to run a benchmarking experiment, then they are wanting to compose several components to get data. The components they want to compose are:
- A compiler built with their favourite configure switches
- A set of benchmarks they want to run (expressed preferably as the end binary rather than needing to know the dependencies)
- A program that collects stats from

[2020-07-18 13:16] shakthimaan opened #145 "BUILD_ONLY needs to exit with error if package installation fails"
At present, the BUILD_ONLY environment variable stops before executing the benchmarks. We need a way to exit with an error status if any of the dependency installation packages fail. We use `--best-effort` to ignore any build errors and proceed.

In particular, `frama-c` (https://github.com/ocaml-bench/sandmark/issues/17) needs to be built successfully for this change to be useful with the CI.

[2020-07-20 11:52] kayceesrk commented on #145
#147 fixes this problem in a different way. Rather than attempting to fix `frama-c`, #147 takes the easier route of running a subset of benchmarks in the CI.

[2020-07-20 11:53] kayceesrk commented on #138
Fixed by #141.

[2020-07-20 11:53] #138 closed

[2020-07-22 18:52] shakthimaan commented on #142
Some thoughts:

* It will be good to categorize the benchmarks, so that a user can simply include a family of benchmarks for an experiment or a test. For example, a researcher interested in studying graph algorithms or analyzing performance for time-series data can run only those relevant benchmarks.

* All the configuration should exist in a `config/` folder in the project repository, so that, th

[2020-08-08 11:53] kayceesrk commented on #137
Close this since the PARAMWRAPPER feature has been reverted

[2020-08-08 11:53] #137 closed

[2020-08-08 11:57] kayceesrk opened #159 "Implement a better way to describe taskset"
Given that PARAMWRAPPER feature has been reverted, provide a cleaner way to describe the taskset list of cores for a run given the number of domains.

[2020-08-21 05:45] kayceesrk commented on #107
A few coq benchmarks have been added in https://github.com/ocaml-bench/sandmark/pull/143.

[2020-08-21 05:45] #107 closed

[2020-08-21 06:02] #145 closed

[2020-08-21 06:10] #127 closed

[2020-08-21 06:12] shakthimaan commented on #16
The use of `prefix`, and `libdir` to `configure` helps build alt-ergo with Sandmark, along with its benchmarks.
https://github.com/ocaml-bench/sandmark/pull/160

[2020-08-21 06:12] #16 closed

[2020-08-31 06:18] UnixJunkie opened #171 "In the linear algebra section, matrix inversion would be handy"
I don't want to depend on owl...

[2020-09-25 08:59] ctk21 commented on #159
Right now if you want to provide taskset for parallel benchmarks things are manual and error prone. You have to edit the JSON file for each benchmark to put the correct cpu-list in.

In an ideal world we would have a function `get_taskset_command <num_domains>` which returns the taskset command by probing the machine to figure out which CPUs should be used (and it could also handle the cross platf

[2020-09-28 02:11] shakthimaan opened #175 "Include major cycle information in Jupyter notebook graph"
The major cycle, count and words, provide useful information on what benchmarks are GC heavy. The baseline information along with their labels can be included in the graph, as they are more useful than what is available in the normalized graph.

[2020-09-28 11:08] kayceesrk opened #176 "Include raw baseline observation in the normalized graphs"
The normalized graphs in sandmark currently do not include the raw baseline observations. For example,

![image](https://user-images.githubusercontent.com/410484/94424757-607efa80-01a8-11eb-9843-ef2a99fe6fa1.png)

The graphs shows the normalized running time comparing two compiler variants. This graph does not convey how much time the baseline actually took. We've had few examples where we've seen

[2020-09-28 11:08] kayceesrk commented on #175
Closing this issue in favour of #176.

[2020-09-28 11:08] #175 closed

[2020-09-30 06:24] kayceesrk commented on #159
`get_taskset_command` seems like a good idea. Where do you think this command would get invoked? If you make this as part of `orun` then the other wrappers will have to somehow replicate this.

[2020-09-30 07:33] ctk21 commented on #159
My thinking was that this would be a stand alone UNIX command that could be composed with others. It could even be a shell script.

You could imagine the user having it in the `wrappers` section of the `run_config.json`:
[code]
The changes being:
- utilize the new `get_taskset_command` in the `wrappers` section
- have `num_domains` in the `runs` section of the `benchmarks`
- find a way to introduc

[2020-09-30 07:44] kayceesrk commented on #159
Ok. that makes sense. For `ordered_cpu_list`, this should be part of the variant json file describing the compiler. The `ordered_cpu_list` will be the same for all of the benchmarks. We need to just have different variant files for different machines.

Ideally, I want to get Sanmark to a point where all the variables either in the variant json file or the run_config json file. The various environm

[2020-09-30 08:10] ctk21 commented on #159
`ordered_cpu_list` is a bit new for us as it is a parameter describing the machine. I would request *not* putting it in the compiler variant json file - that would be a really unexpected place to find it (at least for me), since the description of how to find the source and build parameters for a compiler has nothing to do with machine specs for the experiment.

It feels like the `run_config.json`

[2020-09-30 08:14] ctk21 commented on #159
I guess the direction I'm trying to go is that as a user, it would be great if I could post a single config file to somebody and they can recreate the run as well as see what got run. Maybe one day the variant files need to end up in the `run_config.json`?

[2020-09-30 08:16] ctk21 commented on #142
While discussing tasksetting, we have come across another type of parameter: machine specific config for an experiment. This might be the same thing as the `environment within which to run an executable`.

The use case discussion is here: https://github.com/ocaml-bench/sandmark/issues/159#issuecomment-701235168

[2020-09-30 08:44] kayceesrk commented on #159
Ok. That works. Having everything in a single location sounds like a fine idea.

[2020-10-02 03:53] kayceesrk opened #179 "[RFC] Classifying benchmarks based on running time"
Currently, we have classified benchmarks using two tags -- `macro_bench` and `runs_in_ci`. This is a useful classification, but we've had cases of mislabelling where benchmarks that run for a few milliseconds being classified as macro. Moreover, the original idea of `runs_in_ci` was meant to be running those benchmarks run reasonably fast so that we don't exhaust the 1hr CI limit. But it is unclea

[2020-10-02 07:52] ctk21 commented on #179
Having things classified such that people can select what they run classified by runtime is reasonable, often for the initial run you just want to look at a collection of the macro benchmarks.

We have had success at pin-pointing issues with some of the micro-benchmarks (e.g. C call overhead, cost of local roots in the hash function, read-barrier overheads, stack switching costs), so I wouldn't ar

[2020-10-02 07:59] kayceesrk commented on #179
That makes sense. It would be useful to associate with the microbenchmarks what they're meant to be measuring in comments.

Yes, but I suspect that since we need to do this just once, manually tagging them might be faster. :-)

[2020-10-04 17:13] shakthimaan commented on #179
Can we add a couple of more tags for this classification on the running time?
* Hours: The sample benchmark tests for`Coq` run for few hours, and it will be good to see how the the code performs over time.
* Days: Database performance benchmarks with varying loads are run for at least 24-48 hours, to see their behavior. Since, these systems are meant to be run without downtime, it will be good col

[2020-10-05 07:08] shakthimaan opened #180 "Notebook Refactoring and User changes"
- [X] Ability to point to .bench results generated from `ocaml-bench-scripts` and use the notebooks directly on them using the UI.
- [X] Merge changes from sequential notebook to sequential-interactive and have only one notebook.
- [X] Make the parallel benchmark interactive.
- [X] Mention the Jupyter Notebook README content https://github.com/ocaml-bench/sandmark/blob/master/notebooks/README.md t

[2020-10-08 10:39] sadiqj opened #182 "Rename (or remove?) lu_decomposition benchmark in numerical-analysis"
We have `LU_decomposition` in `multicore-numerical` which can be a source of confusion.

If the `numerical-analysis` implementation doesn't differ significantly from the one in `multicore-numerical` then we should just remove it - otherwise we should rename it.

[2020-10-08 11:04] ctk21 commented on #182
The implementations are different. Maybe a rename is easiest?
Say `numerical-analysis/lu_decomposition.ml` -> `numerical_analysis/crout_decomposition.ml`

[2020-10-16 15:31] ctk21 opened #184 "Running benchmarks with varying OCAMLRUNPARAM"
Right now there isn't an easy way to run experiments where OCAMLRUNPARAM changes but the compiler build stays fixed.

Suppose we wanted to look at the impact of the minor heap size across our benchmarks with 4.10.0+stock.

The run plan we want is:
4.10.0+stock, OCAMLRUNPARAM=s=1M, using orun
4.10.0+stock, OCAMLRUNPARAM=s=2M, using orun
4.10.0+stock, OCAMLRUNPARAM=s=4M, using orun
4.10.0+stock, OCA

[2020-10-22 11:16] ctk21 commented on #184
So another use case which is a bit more general, but I think we should include in any fix here, is being able to set arbitrary environment variables for the benchmark run.

For example, an experiment people wanted to be able to run recently was glibc malloc vs mimalloc vs jemalloc vs tcmalloc vs etc... In theory it might be as simple as specifying `LD_PRELOAD` in the environment, which if we can s

[2020-10-24 17:58] shakthimaan commented on #184
Does the following syntax in an `ocaml-versions/4.10.0+stock.json` file be sufficient?
[code]
The output will be a different _results (`test1`, `test2`, etc.) folder for each experiment.

[2020-10-26 11:24] ctk21 commented on #184
If we have stuff in the compiler configuration to define the environment variables for the run of the benchmarks, this is going to get confusing fast, IMHO. For example, `taskset` or `chroot` needs to go into the `wrappers` block of `run_config.json` but the environment variables would end up in the `ocaml-versions` directory. I would have thought all of those things from a user perspective look l

[2020-10-26 11:33] sadiqj commented on #184
Agreed on keeping them out of the compiler definition @ctk21 , I too think that would be confusing.

I'm a little concerned about putting them on the wrapper too, as we'd probably end up with a blowup of wrappers if you wanted to test a bunch of environments.

Could we have a separate environments section in the run config, which for each environment had a name (which could be concatenated on to t

[2020-10-26 12:25] shakthimaan commented on #184
`orun` actually has support for OCAMLRUNPARAM:
https://github.com/ocaml-bench/sandmark/blob/master/orun/orun.ml#L265

But, we don't pass it in run-time:
https://github.com/ocaml-bench/sandmark/blob/master/Makefile#L125

I tested setting OCAMLRUNPARAM in the above line in the Makefile, and the values take effect during execution.

So, the idea is to specify the list of environment options for the d

[2020-11-02 13:49] ctk21 commented on #182
Fixed by #183

[2020-11-02 13:49] #182 closed

[2020-11-06 11:21] singhalshubh commented on #179
Lets close this issue. Its resolved in https://github.com/ocaml-bench/sandmark/pull/188

[2020-11-11 18:10] shakthimaan opened #193 "[RFC] Header entry attributes for the summary benchmark result file"
At present, the `ocaml_bench_scripts` creates the benchmark results files in a hierarchical directory structure that has information regarding hostname, GitHub commit, branch, timestamp etc. One option is to flatten this data, and also add additional meta-information as a header entry to each consolidated .bench result file. The advantages are:
1. The list of bench files can be used locally with a

[2020-11-19 07:53] Sudha247 opened #195 "Filtering benchmarks based on tags"
We have multiple tags to classify benchmarks in the config files, like `macro_bench`, `run_in_ci` and tags based on running time. Makefile currently supports filtering macro and CI benchmarks with custom rules.

It would be useful to generalize this further by taking the following items as inputs:
* tag
* source file
* destination file

All benchmarks with the `tag` in source file needs to be copi

[2020-12-02 08:55] kayceesrk commented on #195
We could build this into the makefile as

[code]

and have a target called `run_config` which uses the environment variable `TAGS` to filter those tags.

Is there a way to accept more than one tag in that command?

[2020-12-02 09:18] kayceesrk commented on #195
Perhaps this is not a good idea. It is unclear whether the filter with multiple tags should act as a conjunction or disjunction.

[2020-12-02 09:44] kayceesrk commented on #195
See https://github.com/ocaml-bench/sandmark/pull/196.

[2020-12-02 09:54] kayceesrk commented on #179
Thanks @singhalshubh.

[2020-12-02 09:54] #179 closed

[2020-12-03 03:25] shakthimaan commented on #195
This is a useful feature request, considering that we would like to classify benchmarks based on the family of algorithms as well. A researcher might be interested to run those benchmarks that are macro_benchmarks, for example, AND finish in less than 10s AND belong to graph algorithms.

[2020-12-03 03:48] kayceesrk commented on #195
We can do conjunction by filtering the filtered file. See https://github.com/ocaml-bench/sandmark/pull/196/files#diff-b54b39f1afced2465e1f3641db9d5bbf4f3a7fcf890996dfedd3c197bcb7f8c7R66-R67. Disjunction is trickier.

Let's review and merge #196 first, given that we can already do conjunction, albeit externally.

[2020-12-03 03:49] kayceesrk commented on #195
Let's also wait until this researcher turns up :-)

[2020-12-03 06:52] Sudha247 opened #197 "Lockfree benchmarks"
Currently we have a few lockfree benchmarks in [multicore-lockfree](https://github.com/ocaml-bench/sandmark/tree/master/benchmarks/multicore-lockfree). Results of these are in #194.
This a placeholder issue for https://github.com/ocaml-multicore/lockfree/issues/6 - benchmarks section, which lists few items needing work on lockfree benchmarks. This issue can be closed after they are addressed.

[2020-12-03 07:37] kayceesrk opened #198 "Noise in Sandmark"
Following the discussion in https://github.com/ocaml/ocaml/pull/9934, I set out to quantify the noise in Sandmark macrobenchmark runs. Before asking complex questions about loop alignments and microarchitectural optimisations as was done in https://github.com/ocaml/ocaml/pull/10039, I wanted to measure the noise between multiple runs of the same code. It is important to note that currently, we onl

[2020-12-04 12:23] kayceesrk commented on #198
Now with ASLR turned off

![image](https://user-images.githubusercontent.com/410484/101162668-a64cb900-3658-11eb-8215-d9298324144c.png)

[2021-01-05 12:14] gasche commented on #198
It looks like most of the benchmarks are not actually very noisy (the noise observed is well below 1%), and a smaller group of benchmarks are noisier. This suggests that you could track *per benchmark* how many iterations to run and what's the expected noise level, and try to have more stable benchmarks and fewer unstable benchmarks to keep the total running time in check. In particular, most of t

[2021-01-24 16:47] #184 closed

[2021-01-24 16:47] #176 closed

[2021-01-24 16:51] shakthimaan commented on #122
The `codesize` attribute has been added in the PR https://github.com/ocaml-bench/sandmark/pull/165. Please feel free to re-open if you face any issues or create a new one if you have additional requirements. Thanks!

[2021-01-24 16:51] #122 closed

[2021-01-24 16:52] #195 closed

[2021-02-02 07:02] shakthimaan opened #205 "[RFC] Categorize and group by benchmarks"
At present, the benchmarks in Sandmark are available in the `benchmarks` folder:
[code]
What would be a good set of categories to group them together, perhaps something like the following?
[code]

[2021-02-10 17:35] shakthimaan opened #206 "simple-tests/capi - Fatal error: "unexpected test name""
The `capi` tests are failing in Sandmark master branch (commit aa122e6dc6ebc004989b1b04e606c1f7c718c87c, January 24, 2021) for the `lt_1s`, `1s_10s` tags with the following error messages:
[code]
You can reproduce the issue using:
[code]

[2021-02-10 17:42] shakthimaan opened #207 "graph500seq: Fatal error: exception Sys_error("kronecker.txt: No such file or directory")"
The graph500seq benchmarks are failing in Sandmark (commit aa122e6dc6ebc004989b1b04e606c1f7c718c87c, January 24, 2021) for `macro_bench` tag with the following error messages:
[code]
You can reproduce the error using:
[code]
In `benchmarks/graph500seq/dune`, there is:
[code]
The `deps` are not built in sequential order, and `kronecker.exe` produces `kronecker.txt`, which is a pre-requisite for `ke

[2021-03-25 13:35] ctk21 opened #214 "Add an orun based benchmark"
It would be useful to have more memory intensive benchmarks. It looks like `orun` has dependencies that shouldn't be to complex to add considering what is already present. It will also build on the multicore `4.12+domains` variant.

I'm sure that the `orun` team can provide some pointers to a couple of workloads that are fairly memory intensive and representative of the sort of thing they see.

[2021-04-30 06:59] kayceesrk opened #217 "Deprecate the use of 4.06.1 and 4.10.0 in Sandmark"
We no longer support multicore versions 4.06.1 and 4.10.0 in multicore. The task is to ensure that all the references to either of these versions is removed from the documentation and the scripts, and making sure that 4.12.0 works well with the new documentation.

[2021-04-30 07:09] kayceesrk opened #218 "Reimplement broken pausetimes support"
In Multicore OCaml 4.12.0, the catapult format (used by `chrome://tracing/`) based event tracing is deprecated. Multicore 4.12.0 will soon produce CTF based traces https://github.com/ocaml-multicore/ocaml-multicore/pull/527. We need to update the scripts to adapt to the new tracing framework. This involves several tasks:

1. Modify the pausetimes scripts for [multicore](https://github.com/ocaml-be

[2021-05-04 08:32] kayceesrk opened #219 "`OCAMLRUNPARAM` value should be included in the .bench file"
Since `OCAMLRUNPARAM` values affect the execution of the benchmarks, we should include them in the `.bench` file for each of the runs. That is, [this](https://github.com/ocaml-bench/sandmark/blob/master/notebooks/parallel/4.06.1%2Bmulticore%2Bparallel.orun.bench#L1) should include a new field called `OCAMLRUNPARAM` whose value is the value of the `OCAMLRUNPARAM` environment variable.

This will re

[2021-05-04 08:39] ctk21 commented on #219
It would be good if we could make this more general, what we want to capture is all the things passed in by the `environment` variable introduced in #189 not just `OCAMLRUNPARAM`.

For example an experiment where someone is using different `LD_PRELOAD` settings to benchmark different malloc implementations.

[2021-05-04 14:30] Engil commented on #218
This should be rather simple to reimplement in OCaml:
https://github.com/ocaml-multicore/eventlog-tools
The Multicore branch contains the latest version compatible with our trace format.
This would involve writing a script like the chrome converter here: https://github.com/ocaml-multicore/eventlog-tools/blob/multicore/bin/eventlog_to_chrome.ml

[2021-06-02 06:27] Sudha247 opened #231 "View results for a set of benchmarks in the nightly notebooks"
(This is in the context of benchmark nightly runs on a remote machine)

It will be nice to have a way to select a set of benchmarks and view only results of those benchmarks. It will be useful to select them based on:
* Individual benchmarks
* Bench tags

[2021-06-11 08:36] shubhamkumar13 opened #235 "Update selected benchmarks as a set for baseline benchmark"
Context : This is a feature request for sandmark-nightly

The sandmark-nightly notebooks have a specific feature like the interactive notebooks to compare benchmarks.

In the sequential notebooks I have to select a baseline benchmark from the benchmarks selected. This helps in generating normalization graphs. (which include time, maxRss, major words, minor words, etc.)

Right now, while selecting

[2021-06-11 12:38] #217 closed

[2021-06-11 12:38] #206 closed

[2021-06-12 15:54] kayceesrk opened #236 "Implement pausetimes support in sandmark_nightly"
See pause times results in the [ICFP 20 paper](https://arxiv.org/pdf/2004.11663.pdf) (sequential and parallel pausetimes in Fig 10 and 12, respectively) for what the graphs should look like.

Dependent on #218.

[2021-06-12 16:03] kayceesrk opened #237 "Run sandmark_nightly on a larger machine"
Currently, sandmark nightly results are gathered on a tuned machine at IITM which is an Intel Xeon Gold 5120 CPU with 2-sockets, 28-cores out of which 24 cores have been isolated for performance benchmarking. Some of the [recent improvements](https://github.com/ocaml-multicore/domainslib/pull/29) to `Domainslib` only make observable differences at much larger core counts. Sandmark nightly should b

[2021-06-12 16:06] kayceesrk opened #238 "Move `sandmark_nightly` to ocaml-bench org"
Currently the repo is under @shubhamkumar13's personal account. Please transfer the repo to `ocaml-bench` org.

[2021-06-12 16:11] kayceesrk commented on #237
We should use `navajo`. We seem to have a previous issue to track this: https://github.com/ocaml-bench/sandmark/issues/95. Luckily the dependent issues seem to be resolved.

[2021-07-02 15:29] shubhamkumar13 commented on #231
This issue has been resolved in the current `sandmark-nightly`.
For eg. if I select 2 timestamps
![sandmark#231](https://user-images.githubusercontent.com/13629677/124296974-31067f80-db78-11eb-85c6-973b3eed58ff.png)

Then I can only view those 2 while selecting the baseline
![sandmark#231_2](https://user-images.githubusercontent.com/13629677/124297035-411e5f00-db78-11eb-8e51-d24b4648f58b.png)

[2021-07-02 15:35] shubhamkumar13 commented on #235
This issue has been resolved.
Selecting the benchmarks
![sandmark#231](https://user-images.githubusercontent.com/13629677/124297777-0f59c800-db79-11eb-8b1a-799f650491f1.png)
Filtering out the selected benchmarks as baseline
![sandmark#231_2](https://user-images.githubusercontent.com/13629677/124297786-11238b80-db79-11eb-8d32-388fd47572b8.png)

Closing this

[2021-07-02 15:35] #235 closed

[2021-07-02 15:37] shubhamkumar13 commented on #238
`sandmark-nightly` is now in `ocaml-bench` org and the previous repository has been archived with an updated readme pointing to [ocaml-bench/sandmark-nightly](https://github.com/ocaml-bench/sandmark-nightly).

Closing this.

[2021-07-02 15:37] #238 closed

[2021-07-06 07:08] Sudha247 opened #243 "Add irmin tree benchmark"
It will be useful to add [Irmin tree benchmark](https://github.com/mirage/irmin/blob/master/bench/irmin-pack/tree.ml) to sandmark. This would require adding any missing dependencies and data files if required.

cc @shubhamkumar13

[2021-07-06 07:12] Sudha247 commented on #214
Did you mean `odoc`?

[2021-07-06 08:25] ctk21 commented on #214
oh yes, `odoc`! I've updated the title and blurb

[2021-07-06 08:27] jonludlam commented on #214
Ah! Should be straightforward enough to put together something.

[2021-07-07 05:11] shubhamkumar13 commented on #231
@Sudha247 issue moved to [sandmark-nightly#8](https://github.com/ocaml-bench/sandmark-nightly/issues/8).

[2021-07-07 05:27] Sudha247 commented on #231
Sure, thanks for moving this to sandmark-nightly.

[2021-07-07 05:27] #231 closed

[2021-07-23 08:07] shubhamkumar13 commented on #237
Sandmark nightly is now running on navajo. This issue can be closed.

[2021-07-23 08:07] #237 closed

[2021-07-23 08:09] shubhamkumar13 commented on #236
Pausetimes for 4.12 is now a part of the sandmark nightly run

[2021-07-23 08:09] #236 closed

[2021-07-23 08:11] shubhamkumar13 commented on #218
#233 resolves the issue, this can now be closed

[2021-07-23 08:11] #218 closed

[2021-07-23 08:27] kayceesrk commented on #236
I don't think the resolution message is quite right. Are you saying that pausetimes only works on sandmark nightly, but not if you run it by hand. Can you also add the PR which fixes this for context?

[2021-07-23 08:27] kayceesrk commented on #237
Can you link to the PR or Issue on Sandmark nightly for posterity?

[2021-07-23 09:10] shubhamkumar13 commented on #236
I think I did something wrong where I didn't create a PR and pushed directly to master, I'll make sure this is something I don't repeat so I do apologise for that.
I can list down some of the commits that made these changes
- [changes made to the notebook](https://github.com/ocaml-bench/sandmark-nightly/commit/7cc9d4fd79697c9d71a24b615cebf9ad6a21c420)
- the following commits were shell script impr

[2021-07-23 09:10] shubhamkumar13 commented on #237
This issue doesn't have a PR for the same reason as #236

Although the commits which add sandmark nightly to navajo are the following :
- https://github.com/ocaml-bench/sandmark-nightly/commit/d9dd7ff27249bc212a467f63b4a099efb27cf43c
- https://github.com/ocaml-bench/sandmark-nightly/commit/8789c2ffe2308c90c9c4ba192b9fc8c707cfbd3f
- https://github.com/ocaml-bench/sandmark-nightly/commit/8d8b31381d0

[2021-07-23 09:14] shubhamkumar13 commented on #236
I meant in addition to sandmark (after [sandmark#233] (https://github.com/ocaml-bench/sandmark/pull/233)) it is now also a part of the sandmark-nightly notebooks

[2021-07-24 04:25] kayceesrk opened #247 "Sandmark breaks on OCaml 4.14.0+trunk"
See the failure in the CI at https://cloud.drone.io/ocaml-bench/sandmark/840/1/2. It would be useful to keep the CI green in the next few months as we head towards upstreaming multicore.

[2021-07-24 14:14] #95 closed

[2021-07-24 14:16] #180 closed

[2021-07-26 11:24] shubhamkumar13 opened #248 "coq fails to build"
The build error occurs while running sandmark on navajo with 4.12.0+domains+effects variant.  But this doesn't seem to be limited to navajo because I got a similar error on my personal laptop

The following error log is from navajo.
[code]

Steps to recreate the error:

1. Clone the sandmark repo
[code]
2. Download the gist that has the coq benchmarks only (`run_config.json` present locally can al

[2021-07-27 03:25] kayceesrk commented on #247
@shubhamkumar13 This is high-priority for the compiler team. Please let's work on this.

[2021-07-27 04:30] shubhamkumar13 commented on #247
Yes I did looked into it yesterday and the issue seemed to be the dune variant.
The error log did mention it
[code]
But updating the dune version didn't fix it, there seem to be a lot of packages that might need updating and didn't build with trunk which I'm planning to look at. I have the error log [here](https://gist.github.com/shubhamkumar13/bacadeb95829211ad84c17532e49e1b9).

[2021-07-28 08:26] kayceesrk commented on #247
Many packages are not expected to work with trunk. This may be due to several reasons. (1) It may be that trunk introduces a breaking change that makes the package not build with trunk. (2) It may be that the upper limit of the constraint is less than trunk's version; trunk always bumps the version number after a release.

[2021-07-29 15:04] shubhamkumar13 commented on #247
I tried to update the dependency packages to make sandmark work with 4.14.0+trunk.
There are still some of the packages which are still not working with 4.14.0+trunk.
[code]

The packages `react, rresult, fmt, astring` have the same error related to `Toploop.use_file` .
There seems to be changes in the toploop interface (found a similar issue related to tooploop in https://github.com/ocaml/ocaml/p

[2021-08-01 18:55] shubhamkumar13 opened #250 "tracking dependencies that fail with 4.14.0+trunk"
The following dependencies fail to build with `4.14.0+trunk`  + `dune.2.9.0` with the sandmark ci.
This table contains a list of the packages and their respective issues

| Dependency | Github Issue |
|---|---|
| astring  | https://github.com/dbuenzli/astring/issues/20 |
| fmt | https://github.com/dbuenzli/fmt/issues/49 |
| mtime | https://github.com/dbuenzli/mtime/issues/37 |
| ocaml-migrate-pars

[2021-08-01 20:33] dbuenzli commented on #250
I don't have the time to investigate this but I suspect something is wrong with the upstream install of `compiler-libs.toplevel` or they changed the installation/packaging scheme.

[2021-08-05 14:02] dbuenzli commented on #250
It seems the reason was that `Toploop.use_file` was inadvertently nuked. A fix is being proposed upsteam https://github.com/ocaml/ocaml/pull/10557

[2021-09-01 08:30] Sudha247 commented on #248
After looking at this for a bit, here are the findings:

* Coq version in sandmark seems a bit old. It doesn't support OCaml 4.12. The [patch to get Multicore working](https://github.com/ejgallego/coq/commit/f4c39b18d3a8a209a59d60736885f4480ea93238) may need an update. The systhreads changes are already fixed in the current Multicore branch, I believe.

* I attempted to build Coq `v8.13`. It build

[2021-09-07 14:12] ejgallego commented on #248
Hi folks, thanks for bringing this into my attention. I will update the patch ASAP.

[2021-09-07 14:48] ejgallego commented on #248
I have tried to update the patch at https://github.com/ejgallego/coq/tree/ocaml+multicore but indeed I'm getting a segfault in the GC:

[code]

It could well be due to the hacks I'm doing to avoid the calling of Coq's VM machine written in C; but I am not sure.

[2021-09-08 10:25] ejgallego commented on #248
Umm, actually I'm getting a segfault too when using the old branch https://github.com/ejgallego/coq/commit/f4c39b18d3a8a209a59d60736885f4480ea93238

[2021-09-10 15:07] gadmm commented on #248
@ejgallego Don't you need the patch to double-make-sure that native compute is never used because of naked pointers ? (see e.g. https://github.com/gadmm/coq/commit/1ba07b808ba which was inspired from one of yours).

(Note : in stock+nnp, I still have a weird crash in one particular mathcomp lib despite this patch... something to investigate)

[2021-09-22 12:25] shubhamkumar13 commented on #250
This issue can be closed because all the dependencies related 4.14.0+trunk has been resolved and the PR related to 4.14/0+trunk has been merged in https://github.com/ocaml-bench/sandmark/pull/251

[2021-09-22 12:25] #250 closed

[2021-09-22 12:26] shubhamkumar13 commented on #247
#251 resolves this issue

[2021-09-22 12:26] #247 closed

[2021-09-24 16:35] shakthimaan commented on #15
Yes. ctypes.0.15.0 builds fine now with 4.12.0+ for both +stock and +multicore. Hence, closing this issue.

[2021-09-24 16:35] #15 closed

[2021-10-07 04:29] shubhamkumar13 commented on #128
the issue is still valid for macos/osx, if I try and run sandmark on macos I do get the following error for 4.12.0+stock ocaml variant.

[code]
where the following dependencies fail to install:
- result
- easy-format
- re
- cppo

[2021-10-13 11:57] shakthimaan opened #259 "Update sandmark notebooks with latest changes from sandmark-nightly"
The Sandmark notebooks/ need to be updated with the latest changes to the Jupyter notebooks from sandmark-nightly/.

[2021-11-15 14:53] shubhamkumar13 opened #262 "ocaml-migrate-parsetree.2.2.0+stock fails to compile with ocaml.5.00.0+trunk"
`OCaml.5.00.0+trunk`  doesn't work with the current `ocaml-migrate-parsetree.2.2.0+stock`  and logs out the following error

[code]

and since the current trunk's ast is not frozen it's best to wait for trunk to be frozen and then create a new ppxlib branch to work with `OCaml.5.00.0+trunk` in sandmark (since `ocaml-migrate-parsetree` is not needed for 5.0).

This would temporarily result in failu

[2021-11-24 06:38] shubhamkumar13 commented on #248
@shakthimaan can this issue can be closed as the latest coq is now merged into sandmark?

[2021-11-24 06:43] shubhamkumar13 commented on #262
https://github.com/ocaml-bench/sandmark/pull/261 also removes the `run_in_ci` tag from `run_config.json` to remove the irmin benchmarks.

When this issue is resolved please add the `run_in_ci` tag back to
1. ```bash
       {
      "executable": "benchmarks/irmin/irmin_mem_rw.exe",
      "name": "irmin_mem_rw",
      "tags": [
        "1s_10s",
        "macro_bench"
      ],
      "runs": [

[2021-11-27 08:30] shakthimaan commented on #248
Yes. Closing the issue since coq 2019-09 has been updated to build with Sandmark.

[2021-11-27 08:30] #248 closed

[2021-12-03 05:12] shubhamkumar13 opened #266 "instrumented pausetimes for ocaml - 5.00.0+trunk and 4.14.0+domains"
Currently sandmark is updated to the latest trunk and multicore variant (#261).

But the instrumented pausetimes for `5.00.0+trunk` and `4.14.0+domains` require trunk to be frozen to update the pausetimes variant in sandmark.

[2022-01-10 18:06] kayceesrk opened #272 "Delay benchmark runs if the machine is active"
If the machine running the benchmarks is actively being used, there's no point running the benchmarks as all the results would be sabotaged. Consider implementing something similar to [this](https://github.com/kayceesrk/ocamlbench-scripts/blob/master/run-bench.sh#L211-L227) to delay benchmark start.

[2022-01-13 15:52] shakthimaan opened #273 "Use just 5.00+trunk for OCaml variant builds"
The Mutlicore OCaml PR has been merged into trunk. We only need to have:
* 5.00.0+trunk
* 4.14 branch as that would be the sequential OCaml going forward.
The 5.00.0+multicore can be retired.

[2022-01-20 11:23] shakthimaan opened #274 "Custom Variant Support"
The compiler developers would like to keep track of any regressions for their development and testing branches, and hence we need a configuration file to store the same.
1. The following information can be stored in a `JSON` file, and should be executed with `sandmark-nightly`.
[code]
2. The `expiry` date is the date until which the branch will be tracked and the benchmarks will be executed for th

[2022-01-20 11:58] kayceesrk commented on #274
There is an impedance mismatch between the proposed format and the configuration of the compiler build that is used by sandmark: https://github.com/ocaml-bench/sandmark#configuration-of-the-compiler-build. Is there a reason for this divergence? Do you not want it to just be

[code]

where

* `name`, `url` and `expiry` are mandatory.
* `name` is what the variant will be displayed as. For example, s

[2022-01-21 04:27] kayceesrk opened #275 "Move from drone CI to github actions"
Github actions is better integrated with Github, and all of our other projects are already using Github actions. We should move to it.

[2022-01-26 11:04] kayceesrk commented on #274
I noticed some additional options now supported in the variant file https://github.com/ocaml-bench/sandmark/pull/271/files#diff-0f01c254e3d4f78f3c955b738cddb57ea49b16e2a46f5b4f940d6f34168de576R3-R7. We should support all of the supported options + `name` & `expiry`.

[2022-02-07 15:58] shakthimaan opened #279 "Update notebooks/ to 5.00.0+trunk"
The Jupyter `notebooks/` still use 4.12.0 variants, and the same have to be updated for `5.00.0+trunk`.

[2022-02-08 03:20] shakthimaan opened #280 "Upstream 5.00.0+trunk dependency packages"
We would like to push all the patches upstream for maintenance, so that, Sandmark can simply use the releases directly from opam.ocaml.org. The following packages with patches that build for 5.00.0+trunk need to be upstreamed:

- [ ] biniou.1.2.1
- [ ] bos.0.2.0
- [ ] coq.dev
- [ ] cubicle.1.1.2
- [ ] easy-format.1.3.2
- [ ] integers.0.5.1
- [ ] kcas.0.1.4
- [ ] lwt.5.4.0
- [ ] nbcodec.20151119
-

[2022-02-08 11:07] kit-ty-kate commented on #280
Integers, ocamlbuild, uutf and lwt are already upstreamed

[2022-02-10 15:57] OlivierNicole opened #281 "sandmark.ocamllabs.io shows error instead of parallel benchmarks"
Visiting https://sandmark.ocamllabs.io/ and clicking “Parallel benchmarks” show a Python KeyError.

[2022-02-11 02:27] shakthimaan opened #282 "Analyse bytecode performance"
We need to build the bytecode version for the benchmarks and run the same to analyze the performance.

References:

1. https://discuss.ocaml.org/t/generate-and-execute-byte-code-at-runtime/7318

2. https://dev.realworldocaml.org/compiler-backend.html

3. https://ocaml.org/learn/tutorials/compiling_ocaml_projects.html.

[2022-02-11 12:51] OlivierNicole commented on #281
As of now this error no longer appears.

[2022-02-11 13:04] shakthimaan commented on #280
@kit-ty-kate `easy-format` and `biniou` are unmaintained. Where should the patches be sent?

[2022-02-12 05:51] shakthimaan commented on #274
Thanks for merging PR#283. What is the context of `name` in the configuration? At present the `SANDMARK_NIGHTLY_DIR` has the following format:
[code]

[2022-02-12 06:54] kayceesrk commented on #274
[code]
For example
[code]

[2022-02-15 05:02] shakthimaan opened #285 "Evaluate merging parallel run_config.json files"
Evaluate possibility of combining https://github.com/ocaml-bench/sandmark/blob/main/multicore_parallel_run_config.json and https://github.com/ocaml-bench/sandmark/blob/main/multicore_parallel_navajo_run_config.json into one json file which contains all the benchmark run details, so that we add new benchmarks to one place instead of two (or more).

[2022-02-15 06:52] shakthimaan opened #286 "Update `check_url` and validate url in custom.json files"
With the `custom.json` file, we now have an array of OCaml variants that can be benchmarked. We need to have the following validations for the URL:
- [x] URL is present
- [X] wget on the URL is valid

[2022-02-15 13:27] kit-ty-kate commented on #280
they aren’t "unmaintained" per say as they have been moved to the `ocaml-community` github organisation.
* easy-format already has a PR: https://github.com/ocaml-community/easy-format/pull/27
* biniou doesn’t: https://github.com/ocaml-community/biniou

@gasche do you know who has maintainership of these project? (or who has access to `ocaml-community`, I believe you have)

[2022-02-15 13:48] gasche commented on #280
ocaml-community is "maintained by the community" (I guess whoever is interested?). I believe that I do have access, so I could merge things there. In practice I hope that most projects do have some people that are already doing the maintenance work, so just sending a PR there would be enough. For biniou I see that Martin Jambon handles PRs there, and I suspect he is probably the original author. F

[2022-02-16 06:01] shakthimaan opened #288 "Update orun --cpu-list other than 1"
The `orun` `--cpu-list` is specificed as 1, but, `isolcpus` start from 2- onwards, and hence the same need to be updated.
https://github.com/ocaml-bench/sandmark/blob/main/run_config.json#L5

[2022-02-16 08:20] kayceesrk commented on #288
It is useful to add that this is on `turing`, a specific machine that we currently run our benchmarks on.

[2022-02-16 11:27] shakthimaan commented on #288
Fixed in https://github.com/ocaml-bench/sandmark/pull/289.

[2022-02-16 11:27] #288 closed

[2022-02-16 12:29] kayceesrk opened #290 "Orun CPU list should be changed to 5?"
https://github.com/ocaml-bench/sandmark/blob/37698d4d641fa5fcc018c92993284574bfe435dc/multicore_parallel_run_config.json#L9

Similar to #288.

[2022-02-16 12:29] kayceesrk commented on #290
Another one

https://github.com/ocaml-bench/sandmark/blob/37698d4d641fa5fcc018c92993284574bfe435dc/multicore_parallel_navajo_run_config.json#L9

[2022-02-16 12:34] kayceesrk commented on #290
Sorry. This issue is not correct. Closing.

[2022-02-16 12:34] #290 closed

[2022-02-17 23:33] kit-ty-kate commented on #280
biniou, bos and easy-format have either corresponding PRs or can be ticked-off entirely

[2022-02-23 11:51] shakthimaan opened #294 "LU_decomposition_multicore.exe 4 2048 loops forever"
The `LU_decomposition_multicore.exe 4 2048` runs on a single CPU core instead of four CPU cores and loops forever. This occurs after this merge commit https://github.com/ocaml-bench/sandmark/commit/f3fc54cc9d58b53c5a9adabc1cc6944738a3876d, and the process gets killed. Why so?
![LU-decomposition-multicore-4-2048-single-core](https://user-images.githubusercontent.com/312622/155313974-8e3c5e8f-79bf-4

[2022-02-23 12:14] kayceesrk commented on #294
You have asked a question. It may be better to CC folks you are directing the question so that they are notified. Not everyone is monitoring the repo. Do you have someone in mind?

[2022-02-23 12:22] shakthimaan commented on #294
Yes. @Sudha247 can you please have a look at the change? Thanks!

[2022-02-24 06:05] Sudha247 commented on #294
#296 has a proposed fix. I'll see how we can make domainslib handle this better.

[2022-02-24 10:56] #294 closed

[2022-02-27 12:33] #281 closed

[2022-02-28 11:11] Ngoguey42 opened #299 "Irmin 3 benchmarks"
With Irmin 3.1 just released, Sandmark may upgrade its Irmin benchmark to the one described in [this blog post](https://tarides.com/blog/2021-10-04-the-new-replaying-benchmark-in-irmin).

In a nutshell, it replays the access patterns of Tezos on its first 3 years of activity.

---

This minimal program runs a replay:

[code]

[code]

---

Depending on your needs, the benchmark can be configured to

[2022-02-28 12:45] shakthimaan commented on #299
Thank you for the update on the `Irmin` benchmarks for Sandmark. We will make the necessary changes, test the same and shall create a new PR for review.

[2022-03-03 05:33] kayceesrk opened #302 "Renaming suggestions for *run_config.json files"
Currently the names of the json files are not illustrative and one has to look at the description in https://github.com/ocaml-bench/sandmark#config-files to know what they mean. Here is a renaming suggestion:

* `run_config.json` -> `sequential.json`
* `multicore_parallel_run_config.json` -> `parallel_turing.json`
* `multicore_parallel_navajo_run_config.json` -> `parallel_navajo.json`
* `micro_mul

[2022-03-03 12:04] shakthimaan opened #303 "Parallel builds run in single core after failed builds in custom runs"
During the custom variant runs, if a build fails, it is observed that subsequent parallel builds run on a single core on navajo.

[2022-03-04 06:40] shakthimaan opened #304 "Parallel benchmarks get killed with `SEGV` with `trunk` and `domainslib.0.4.2`"
The following four parallel benchmarks:
* `LU_decomposition_multicore`
* `floyd_warshall_multicore`
* `game_of_life_multicore`,
* `nbody_multicore`
receive a signal SEGV when run with trunk and domainslib.0.4.2. The Sandmark output is as follows:
[code]
@Sudha247 Would you be able to take a look at the same? Thank you.

[2022-03-04 15:50] Ngoguey42 commented on #299
Since making the "trace" file available to the benchmark is a non-trivial diff, I think it would be easier if someone from the Sandmark team made a patch that we could then review.

[2022-03-10 17:28] shakthimaan commented on #279
Closed by https://github.com/ocaml-bench/sandmark/pull/301.

[2022-03-10 17:28] #279 closed

[2022-03-21 03:02] shakthimaan commented on #303
The `RUN_BENCH_TARGET=run_orunchrt` is required to run the parallel benchmarks. After using the same, the parallel benchmarks ran fine on the navajo server.

[2022-03-21 03:02] #303 closed

[2022-03-21 03:02] shakthimaan commented on #304
LGTM.

[2022-03-21 03:02] #304 closed

[2022-03-22 17:34] shakthimaan commented on #286
Closing with PR https://github.com/ocaml-bench/sandmark/pull/287.

[2022-03-22 17:34] #286 closed

[2022-03-26 06:44] Sudha247 commented on #262
OMP is no longer required for the trunk compatible ppxlib version: [ppxlib.0.25.0~5.00preview](https://github.com/kit-ty-kate/opam-alpha-repository/blob/master/packages/ppxlib/ppxlib.0.25.0~5.00preview/opam)

[2022-03-28 05:35] Sudha247 opened #309 "Outreachy Applicants: set-up and how-to"
To the Outreachy applicants, firstly thanks for your interest in contributing to our project. Below listed are some pointers to help you get started. You are very welcome to ask questions at any step. We'd recommend familiarising yourself with Unix command-line, Git version control and OCaml in that order. Feel free to skip the ones you're already comfortable with.

## Unix Command Line

We'll be

[2022-03-28 08:12] moazzammoriani commented on #18
May I work on this?

[2022-03-28 11:02] codeamic commented on #309
Hi Sudha, looking Forward to doing this

[2022-03-28 11:15] Sudha247 commented on #18
Hi @moazzammoriani! Thanks for volunteering to work on this issue. I've described the next steps below, do ask if something is unclear.

I hope you've been able to setup OCaml on your machine. Let us know if there are any issues with it, we can sort that out.

The first step I'd suggest is to start a run of sandmark on `5.0.0+trunk`. You can do it with this script from within sandmark directory: h

[2022-03-28 11:42] Abdulrahim2567 commented on #309
Thanks a lot for the headstart

[2022-03-28 17:12] moazzammoriani commented on #302
@Sudha247 can I rename these as per the suggestion?

[2022-03-29 04:55] Sudha247 opened #311 "Remove `failure:ignore` from drone.yml"
Ignore failure was added to temporarily ignore build failures on `5.0.0+trunk`. It can be removed now to make CI report failures. (cf. https://github.com/ocaml-bench/sandmark/blob/main/.drone.yml#L65).

[2022-03-29 04:57] Sudha247 commented on #302
Hi @moazzammoriani, thanks for the interest. I'd suggest taking this up after finishing #310, if no one has claimed it by then. I must also admit #310 is a bit more challenging than this one, but I hope it's also more rewarding. :)

[2022-03-29 05:47] juliaochoms42 commented on #309
hello guys being the only queen amongst kings i am super excited about this looking forward to being a great team member

[2022-03-29 05:55] juliaochoms42 commented on #309
hello everyone i am super excited to be part of this great team looking forward to learn more and also make contributions

[2022-03-29 07:33] ritikBhandari commented on #311
Hi,
I have opened a PR for this issue. Plz consider it :)

[2022-03-29 08:06] Sudha247 commented on #311
Hi @ritikBhandari, thanks for your contribution! I'll take a look at the PR. I know this was a small change, but next time please comment on the issue when you start working on an issue so that others will not be working on the same. :)

[2022-03-29 08:08] ritikBhandari commented on #311
I'm sorry. Will keep this in mind.
Thank you!

[2022-03-29 08:11] Abdulrahim2567 commented on #275
Hello @Sudha247  @kayceesrk , I'd like to work on this issue. any  headstarts? thanks.

[2022-03-29 09:11] shakthimaan commented on #275
The Drone CI file is at https://github.com/ocaml-bench/sandmark/blob/main/.drone.yml. We will need these steps moved to GitHub Actions. Thanks!

[2022-03-29 10:56] Sudha247 commented on #275
Adding to what @shakthimaan said, the `drone.yml` file has multiple runs, you can pick up one of the jobs first and try to translate that to GitHub Actions, like the `5.0.0+trunk+serial` job for instance: https://github.com/ocaml-bench/sandmark/blob/main/.drone.yml#L55-L79.

This is a useful guide to get started with GitHub Actions: https://docs.github.com/en/actions/quickstart

[2022-03-29 11:05] Abdulrahim2567 commented on #275
Thank you very much @Sudha247. Working on it.

[2022-03-29 11:15] codeamic commented on #302
Hi Sudha, can i work on this?

[2022-03-29 11:27] Sudha247 commented on #302
Hi @codeamic, sure you may work on it.

[2022-03-29 11:34] codeamic commented on #302
Thank you @Sudha247, i am on it

[2022-03-29 13:43] moazzammoriani opened #313 "Running serials tests yields Error: Program frama-c.byte not found in the tree or in PATH (context: 5.0.0+stable_1)"
The full error message is as follows.
[code]

I think it is worth mentioning that my sandmark directory is located one level below my home directory.

[2022-03-29 14:01] #282 closed

[2022-03-29 17:16] moazzammoriani commented on #272
@Sudha247 may I work on this?

[2022-03-30 06:12] Sudha247 commented on #272
Sure, you can go ahead and work on this. Feel free to post here if you have any questions.

[2022-03-30 06:30] Sudha247 commented on #311
fixed by #312

[2022-03-30 06:30] #311 closed

[2022-03-30 10:22] Abdulrahim2567 commented on #275
Hello @Sudha247  @shakthimaan  I have submitted a pull request on the main branch (ocaml-bench/sandmark) moving ocaml-5.0.0+trunks+serial from Drone CI to GitHub Actions. please have a look at it. Thanks :)

[2022-03-30 12:36] moazzammoriani commented on #272
From what I understand, what @kayceesrk means is that if a benchmark is being run on a machine that does not have all / most of its resources dedicated to the program being benchmarked then is not a fair benchmark?

[2022-03-30 13:57] kayceesrk commented on #272
Not exactly. What the linked snippet (https://github.com/kayceesrk/ocamlbench-scripts/blob/master/run-bench.sh#L211-L227) in the original message tests for is the `loadavg` in the past 1 min on the machine. If it is more than `0.6`, then the script delays the start of the benchmarking by 5 minutes and tries again. Does that help?

[2022-03-30 18:19] moazzammoriani commented on #272
I think. Why specifically something like `0.6` though if you don't mind if I ask? Just because it'd be a good heuristic that would increase the _likelihood_ that the machine gets enough resources to run the benchmarks?

[2022-04-01 08:36] ernestmusong commented on #119
Hello @Sudha247 I would like to work on this Issue.

[2022-04-01 08:41] kayceesrk commented on #272
Trial and error. 0.6 just seemed to do the trick.

[2022-04-01 09:20] Sudha247 commented on #119
Hi @ernestmusong! Sure, you can pickup either one of the two benchmarks listed above to begin with.

This section details the procedure to add a new benchmark to sandmark: https://github.com/ocaml-bench/sandmark#adding-benchmarks. Feel free to post here if you have any questions.

[2022-04-01 09:29] ernestmusong commented on #119
Thanks @Sudha247

[2022-04-01 09:33] ernestmusong commented on #119
Working on it.

[2022-04-01 11:15] ernestmusong commented on #119
Hello @Sudha247 I've created a new folder in benchmarks and added the hamming.ml file to it but i see that this folder must have it's own dune file which i don't know how to add. Can i use an existing folder with a dune file to add this hamming.ml file to it?

[2022-04-05 07:55] ernestmusong commented on #119
Hi @Sudha247 I've created a pull request for this issue, what's next?
Can I find another issue to work on while waiting for your response on the PR?

[2022-04-05 08:30] shakthimaan commented on #313
[code]
You need to install `jo` on your system.

[2022-04-05 10:16] ernestmusong commented on #214
Hi @Sudha247  can I lay hands on this issue?

[2022-04-06 05:37] shakthimaan opened #321 "Write HACKING.md"
Create a comprehensive `HACKING.md` document on contributing to Sandmark.

[2022-04-06 06:01] moazzammoriani commented on #321
I would genuinely love to take this up!

[2022-04-06 06:38] Sudha247 opened #322 "Add nqueens benchmark"
Add nqueens benchmark from #173 to the set of parallel benchmarks. #173 already has the necessary changes, only item left to add is a config for the benchmark in [multicore_parallel_navajo_run_config.json](https://github.com/ocaml-bench/sandmark/blob/master/multicore_parallel_navajo_run_config.json)

[2022-04-06 06:48] Sudha247 commented on #321
Thanks for your interest @moazzammoriani! For this one, I think it might be best for @shakthimaan to create the first version since he has all the necessary context. Once we have that up, we'd really appreciate your feedback on the document. Until then, please feel free to pick up another issue from the issue tracker that interests you. :)

[2022-04-06 07:00] moazzammoriani commented on #322
I suppose I can take this up

[2022-04-06 07:20] Sudha247 commented on #322
Sure, you can go ahead and work on this. :)

[2022-04-07 04:39] moazzammoriani opened #324 "Fix typo in README"
[This](https://github.com/ocaml-bench/sandmark/blob/main/README.md?plain=1#L173) is the typo.

[2022-04-07 12:33] #324 closed

[2022-04-07 13:51] Sudha247 opened #326 "Port Comparison-Programming-Languages-Economics benchmark to OCaml"
Port [Comparison-Programming-Languages-Economics benchmark](https://github.com/mseri/Comparison-Programming-Languages-Economics) benchmark to OCaml. Rust version in the repo is parallel and could serve as a good starting point.

[2022-04-08 03:28] shakthimaan opened #327 "Show diff output between expected and installed dependencies"
The Sandmark dependencies are provided in `dependencies/packages`, `dependencies/template/dev.opam`, and in `ocaml-versions/*.json` file. During a build, it will be good to show a diff output between the expected package name and versions, and the installed ones.

[2022-04-08 10:15] shakthimaan opened #330 "Duneify Sandmark"
Phase I
* Move the Makefile commands to Bash shell scripts

Phase II
* Replace the shell scripts with https://github.com/janestreet/shexp and OCaml.
* Use dune to build Sandmark

Given the number of configuration options, we can leverage the benefit of static types in Sandmark.

[2022-04-08 14:12] moazzammoriani commented on #330
Would it be desirable to have things like the variable declaration in the shell scripts? Or perhaps the more general question is: what not to use shell scripts for? As for what purpose the shell scripts ought to serve, I definitely think readability would be vastly improved if recipes for each target in the Makefile were replaced by the invocation of shell scripts.

[2022-04-11 06:18] Sudha247 commented on #322
fixed by #329.

[2022-04-11 06:19] #322 closed

[2022-04-12 07:15] Sudha247 opened #331 "Add owl benchmarks"
[Owl](https://github.com/owlbarn/owl) is a scientific computing library developed in OCaml. It'd be nice to add some owl benchmarks to sandmark. This can be broken down into following steps.

* Add owl dependencies and a simple benchmark.
* Add a set representative sequential owl benchmarks
* Performance profile those benchmarks to identify compute-intensive parts.
* Potentially parallelise some b

[2022-04-12 07:16] Sudha247 commented on #309
PSA: For those who've already worked on a `good first issue`, feel free to also look at issues with the tag `help wanted`.

[2022-04-12 07:43] moazzammoriani opened #332 "Add note about `--cpu-list` parameter in README"
I have noticed that new users often encounter the problem of their Sandmark build failing because of the discrepancy between their machine's number of cpu cores and the hard-coded value of `--cpu-list` in the config files. So I think this is worth pointing out in the README.

[2022-04-12 07:45] moazzammoriani commented on #331
Hi may I begin working on this?

[2022-04-12 16:27] Sudha247 commented on #331
Sure, you can work on this.

[2022-04-12 16:52] Sudha247 opened #334 "Add parallel benchmark: Merge Sort"
Source: https://github.com/ckoparkar/ocaml-benchmarks/blob/master/mergesort.ml

Sandmark has a mergesort (https://github.com/ocaml-bench/sandmark/blob/main/benchmarks/multicore-numerical/mergesort_multicore.ml), would be nice to compare the two versions.

[2022-04-12 16:55] Sudha247 opened #335 "Add parallel benchmark: Quicksort"
Source: https://github.com/ckoparkar/ocaml-benchmarks/blob/master/qsort.ml

Sandmark also has a quick sort which would nice to compare against. (https://github.com/ocaml-bench/sandmark/blob/main/benchmarks/multicore-numerical/quicksort_multicore.ml)

[2022-04-13 05:17] Abdulrahim2567 commented on #335
Hi @Sudha247, may I work on this?

[2022-04-13 07:38] ernestmusong commented on #334
Hi @Sudha247 can I work on this?

[2022-04-13 08:41] Sudha247 commented on #335
Sure, you can go ahead. Please not that the benchmarks in the repo are written for an older version of [domainslib](https://github.com/ocaml-multicore/domainslib) and may require updating. Don't hesitate to post here if you have any questions on errors or building the benchmark.

[2022-04-13 08:41] Sudha247 commented on #334
Sure, you can go ahead. Please not that the benchmarks in the repo are written for an older version of [domainslib](https://github.com/ocaml-multicore/domainslib) and may require updating. Don't hesitate to post here if you have any questions on errors or building the benchmark.

[2022-04-13 08:44] ernestmusong commented on #334
Thanks @Sudha247 I'm getting started

[2022-04-13 10:54] Abdulrahim2567 commented on #335
Sure @Sudha247 I'll get in touch if I get confused along the way or encounter any errors on the build.

[2022-04-13 14:11] ernestmusong commented on #334
Hi @Sudha247 I'm stuck filtering and running parallel benchmarks. I've used these commands:-

TAG='"run_in_ci"' make run_config_filtered.json
USE_SYS_DUNE_HACK=1 RUN_CONFIG_JSON=multicore_parallel_run_config.json make ocaml-versions/5.0.0+trunk.bench

But it's not filtering them. Look at this:-
Done: 2/190 (jobs: 1)

[2022-04-14 07:22] codeamic commented on #326
Hi Sudha, can i work on this issue?

[2022-04-14 08:42] ernestmusong commented on #334
Hi @Sudha247 some benchmarks did not run successfully. So as you mentioned the need to update, please what should be updated domainslib or the benchmarks?

[2022-04-15 13:31] Sudha247 commented on #326
Sure, you may work on this. Don't hesitate to ask any questions here.

[2022-04-18 10:59] moazzammoriani opened #338 "Running Sandmark with `run_all_serial.sh` on Fedora within the docker container produces compatibility issues with opam"
Here is the brief log of the attempted build:

[code]

[2022-04-19 07:15] codeamic commented on #326
Hi Sudha, please how do i get started with this task? after forking the [mseri](https://github.com/mseri)
/
[Comparison-Programming-Languages-Economics](https://github.com/mseri/Comparison-Programming-Languages-Economics) repository  what next?

[2022-04-19 11:39] Sudha247 commented on #326
Hey @codeamic :)
The crux of this task is that the linked repo contains the benchmark implemented in multiple languages. It'd be nice to port that to OCaml. For that I'd suggest starting with the sequential version, perhaps the C or python version, whichever you'd prefer. Try to rewrite that with OCaml. If you're new to OCaml, I'd recommend the [Cornell CS 3110 textbook](https://cs3110.github.io/t

[2022-04-19 16:28] itsIapetus commented on #302
@Sudha247 If this issue hasn't been resolved yet, I would love to work on it as a part of my outreach application.

[2022-04-19 17:59] moazzammoriani commented on #302
Thank you for you interest @itsIapetus but I believe this issue has been taken up by @codeamic and they already generated a PR as well.

[2022-04-20 17:00] codeamic commented on #326
ok, which repository should i clone please

[2022-04-25 07:14] Sudha247 commented on #299
@Ngoguey42 I'm trying to build this benchmark on a fresh `5.0.0+trunk` switch. Are there specific versions of the dependencies we need to pin for this? I did `opam install irmin-pack irmin-tezos irmin-bench` on a fresh switch. If I try to build, it shows this error --
[code]

[2022-04-28 17:03] samoht commented on #299
Which version of the benchmarks are you using? You should try to update to a more recent version of Irmin maybe? Also you will need a few more patches that we've just merged into https://github.com/kit-ty-kate/opam-alpha-repository to make the whole repo compiles.

[2022-04-29 05:55] Sudha247 commented on #299
I ended up upgrading to `irmin.3.2.1`. There now seems to be conflict with `cmdliner` and `uuidm`, when I try to install `irmin-bench.3.2.1`. Any ideas on how to resolve this?

[code]

[2022-04-29 09:40] samoht commented on #299
This is fixed by https://github.com/mirage/irmin/pull/1827 - it's just an extra constraint which was kept by mistake.

[2022-04-29 09:42] samoht commented on #299
Should also be fixed by https://github.com/ocaml/opam-repository/pull/21304 soon.

[2022-04-29 11:37] Sudha247 commented on #299
Got it building, thanks @samoht!

[2022-05-05 09:17] #119 closed

[2022-05-05 09:20] #275 closed

[2022-05-12 06:16] Sudha247 opened #344 "Update `Add dependencies` section in the README"
The first part in https://github.com/ocaml-bench/sandmark#adding-benchmarks is outdated. Sandmark pulls updates from opam repository, and for packages already in opam repository, it's sufficient to add it to https://github.com/ocaml-bench/sandmark/blob/main/dependencies/template/dev.opam

[2022-05-12 10:58] Sudha247 opened #345 "Remove .drone.yml"
Now that we have GitHub Actions CI up and running, we might want to remove drone CI runs.

[2022-05-13 08:40] kayceesrk opened #346 "Dependencies should include `jo`"
https://github.com/ocaml-bench/sandmark/blob/main/README.md#quick-start should include `jo` as a dependency.

[2022-05-13 08:49] kayceesrk opened #347 "Results aggregation broken"
I'm running Sandmark manually with the following `run_all_serial.sh` file:

[code]

When the run completes, I just have `results/_1.orun.summary.bench` file. The expectation is that I should have two files:

* 5.0.0+trunk_1.orun.summary.bench
* 5.0.0+trunk+volatile_field.orun.summary.bench

This is a regression. Not sure what's broken. The README hasn't been updated with additional instructions if

[2022-05-13 08:53] kayceesrk commented on #347
Looks like there is a `SANDMARK_CUSTOM_NAME` variable in the `Makefile`, which is undocumented. My suggestion would be

1. Either make `SANDMARK_CUSTOM_NAME` a mandatory argument that terminates the make early if an argument is not given or pick it up automatically from the name of the variant where the variant is `ocaml-versions/<variant>.json`.
2. Document this in the README.md file.

[2022-05-13 08:55] kayceesrk commented on #347
Nit: Now that `SANDMARK_CUSTOM_NAME` looks mandatory, it is better named as `VARIANT_NAME`.

[2022-05-13 10:01] kayceesrk opened #348 "Number of benchmarks are misclassified as macro benchmarks"
I recently ran just the macro benchmarks and observed that there are benchmarks that run for 10ms and are classified as macrobenchmarks. The classification that we'd used earlier was that if a benchmark runs for 1s then we'd call it macro.

![image](https://user-images.githubusercontent.com/410484/168259963-e55b41f7-1b92-4b55-a4ed-6756a3508265.png)

<img width="293" alt="image" src="https://user-i

[2022-05-26 13:51] shakthimaan opened #350 "`Length of values does not match length of index` error in sequential Jupyter notebook"
The sequential Jupyter notebook throws a `Length of values does not match length of index` error when selecting three variants. For example, the following combinations:

* navajo 20220524_001001
* turing 20220524_001002
* navaja 20220321_001004

The chosen baseline is 20220524_001001. This can also be seen in the sandmark-nightly web app. The error occurs in the `normalise` function in the sequent

[2022-05-30 04:44] punchagan commented on #350
Adding the traceback to complement the description above.

[code]

[2022-06-07 17:06] #345 closed

[2022-06-07 17:10] shakthimaan commented on #259
Updated with https://github.com/ocaml-bench/sandmark/pull/301.

[2022-06-07 17:10] #259 closed

[2022-06-07 17:47] shakthimaan commented on #350
Fixed with https://github.com/ocaml-bench/sandmark/pull/351.

[2022-06-07 17:47] #350 closed

[2022-06-08 08:03] kayceesrk opened #356 "Update mergesort with a faster implementation"
A simpler version of mergesort is available here: https://github.com/kayceesrk/ocaml5-tutorial/pull/4. Consider replacing the existing mergesort implementation with this.

[2022-06-08 10:33] moazzammoriani commented on #356
I was discussing this @Sudha247 just yesterday. In fact, I was only just about to start working on an implementation of mergesort before I saw this. Your existing version will be quite useful.

[2022-06-08 14:18] moazzammoriani opened #357 "Implement the solution for the Ubuntu/OpenBLAS problem in the GH Actions workflow"
For #341 , `conf-openblas` fails to install in the GH actions workflow. This happens because  of a [known issue](https://github.com/owlbarn/owl/issues/450). The work-around is to build OpenBLAS from source--as shown in [this Dockerfile](https://github.com/owlbarn/owl/blob/main/docker/Dockerfile.ubuntu). I'm not sure how to get the necessary permission in the GH actions workflow to use the `ldconfi

[2022-06-08 17:06] #346 closed

[2022-06-09 07:32] moazzammoriani commented on #357
This is the failure that I'm talking about: https://github.com/ocaml-bench/sandmark/runs/6807710255?check_suite_focus=true. And this is the line that makes it fail: https://github.com/ocaml-bench/sandmark/pull/341/files#diff-7829468e86c1cc5d5133195b5cb48e1ff6c75e3e9203777f6b2e379d9e4882b3R45. Is it possible to obtain the necessary permissions to run this command?

[2022-06-09 08:11] kayceesrk commented on #266
The instrumented pause times will have to be redone using eventring.

[2022-06-09 08:11] #266 closed

[2022-06-09 08:17] kayceesrk opened #358 "Revive instrumented pausetimes using eventring"
OCaml 5 has support for eventring: https://github.com/ocaml/ocaml/blob/trunk/otherlibs/runtime_events/runtime_events.mli, a new ring-buffer based runtime tracing capability. This replaces the earlier eventlog support. The instrumented pausetimes in Sandmark used to be built on the eventlog support. This support has to be rebuilt using eventring.

Given that eventring has a nice OCaml API, it is po

[2022-06-09 18:08] shakthimaan opened #359 "`benchmarks/yojson/ydump.ml` fails with Unknown module Stream for 5.1.0"
The yojson benchmark fails to build for 5.1.0+trunk with the following error for the CI run:
[code]

[2022-06-21 16:15] shakthimaan commented on #359
Fixed with https://github.com/ocaml-bench/sandmark/commit/abb28e4994539d4e19452492278f2b365423903d.

[2022-06-21 16:15] #359 closed

[2022-06-21 16:24] shakthimaan commented on #338
We primarily use Ubuntu LTS as the base OS for building and testing Sandmark. With other *nix distributions, the packages and versions will differ. We recommend to use Ubuntu for testing Sandmark.

[2022-06-27 09:42] shakthimaan commented on #243
Closing this issue in favor of https://github.com/ocaml-bench/sandmark/issues/299.

[2022-06-27 09:42] #243 closed

[2022-06-27 10:13] shakthimaan opened #361 "Produce `memtrace` traces from benchmark runs"
`memtrace`available from https://github.com/janestreet/memtrace generates traces of a program's memory use. The request is to run the tool with the Sandmark benchmarks.

[2022-06-27 10:15] shakthimaan opened #362 "`olly latency` output with Sandmark"
olly latency will report the GC tail latency profile of an OCaml executable, and is available at https://github.com/sadiqj/runtime_events_tools. We need to generate the output using the tool for the Sandmark benchmarks.

[2022-06-27 11:39] shakthimaan opened #363 "Sequential Tezos import/export benchmarks for Multicore OCaml"

[2022-06-30 10:50] shakthimaan opened #364 "Add support for release-based tags in `run_config.json`"
The present tags in the `run_config.json` are based on the execution time of the benchmarks. We would like to tag benchmarks based on releases, say `4.14`, `5.0` etc. and hence the same need to be tagged for all the benchmarks. The default behavior is to select all the benchmarks.

[2022-07-04 09:43] shakthimaan opened #365 "Support more than one development variant for nightly runs"
At present, the `run_all_custom.sh` script supports one development trunk (5.0.0 or 5.1.0), and is a static configuration in the script. It will be good to dynamically use the chosen variant from the configuration file for nightly runs.

[2022-07-04 13:48] shakthimaan commented on #357
OpenBLAS can be installed locally without having to require `sudo`. The Installation Guide provides the required details at https://github.com/xianyi/OpenBLAS/wiki/User-Manual. For example, one can build and install OpenBLAS on Ubuntu 20.04.3 LTS using the following commands:
[code]
The `test_blas_open.c` file can be compiled using:
[code]
The `LD_LIBRARY_PATH` environment variable needs to be upd

[2022-07-05 10:55] shakthimaan opened #367 "Increase time of execution for benchmarks that run for less than 1 second"
Some of the benchmarks run for less than a second. It will be useful to run these benchmarks for a longer period, either by increasing the input size, like `zarith_pi` or repeating the computation multiple times in the program.

![increase-benchmark-times-less-than-1s](https://user-images.githubusercontent.com/312622/177312497-e596cf0b-6000-4d6f-ba1a-69d34c83a5e7.png)

[2022-07-05 11:33] shakthimaan commented on #367
Fixed by https://github.com/ocaml-bench/sandmark/pull/366.

[2022-07-06 05:44] kayceesrk opened #370 "Add a fast version of fannkuchredux to the benchmark suite"
The fast version is here: https://benchmarksgame-team.pages.debian.net/benchmarksgame/program/fannkuchredux-ocaml-3.html

You may consider removing the slow versions `fannkuchredux` and `fannkuchredux2`.

[2022-07-07 07:08] Sudha247 commented on #363
Yes, your link is correct. Although we want to call this from Irmin directly without adding any tezos dependencies, like the replay benchmark in #343. (cc @icristescu)

[2022-07-12 10:53] haesbaert opened #373 "Experiment with Processor Topology/Affinity/Pinning"
I've recently released https://github.com/haesbaert/ocaml-processor which exposes the processor topology and allows for pinning of processes/domains to a set of cpus.

There were some discussions in Paris concerning which tests are affected more/less by the presence of hyper-threading and/or sockets and other NUMA artifacts.

Using `ocaml-processor` might expose some performance properties of diff

[2022-07-12 15:40] shakthimaan commented on #373
At present, the .bench file produced by Sandmark has a header entry with kernel, version and CPU architecture information. The `ocaml-processor` library will be useful to augment the meta-data. Thanks for filing the enhancement request.

[2022-07-18 16:45] shakthimaan opened #375 "Makefile variable to pass configure options when building benchmarks"
Compiler developers would like to observe metric changes when passing `-O2` and `-O3` configure options to the compiler when building the benchmarks.

[2022-07-19 11:58] moazzammoriani commented on #370
I have a [working version ](https://github.com/moazzammoriani/fannkuchredux/blob/main/fannkuchredux.ml l) of this benchmark that uses domainslib instead of the unix library. However, this benchmark cannot be run without compiling it with the `noassert` and `unsafe` flags. Since my benchmark is adapted from the one you have linked, it too cannot work without these two flags. @Sudha247 and I were di

[2022-07-19 16:07] shakthimaan opened #377 "Integrate RAPL power measurements in Sandmark"
See https://helda.helsinki.fi/bitstream/handle/10138/321707/RAPL_in_Action_Experiences_in_Using_RAPL_for_Power_Measurements.pdf.
Note: This is only for x86_64.

[2022-07-19 16:08] shakthimaan opened #378 "Add perf energy metrics to Sandmark bench results"
Reference: https://firefox-source-docs.mozilla.org/performance/perf.html

[2022-07-19 16:10] shakthimaan opened #379 "Measure energy power consumption through IPMI sensors"
Reference: https://github.com/ipmitool/ipmitool

[2022-07-19 16:11] shakthimaan opened #380 "Integrate `Variorum` for power and performance monitoring capabilities with Sandmark"
Reference: https://github.com/LLNL/variorum

[2022-07-19 16:13] shakthimaan opened #381 "Report hardware resources in parallel architectures using `hwloc`"
References:
1. `ocaml-hwloc`. https://github.com/patricoferris/ocaml-hwloc
2. `hwlock`. https://github.com/open-mpi/hwloc

[2022-07-19 16:15] shakthimaan opened #382 "Integrate SPECpower benchmarks and measurements in Sandmark"
Reference: https://www.spec.org/power/

[2022-08-04 11:17] shakthimaan commented on #198
Noise has been reported for the `soli` benchmark for 5.1.0+trunk.
Reference: https://github.com/ocaml/ocaml/pull/11102#issuecomment-1191269903

[2022-08-29 09:19] #356 closed

[2022-08-29 14:55] kayceesrk commented on #198
Reference: https://github.com/ocaml/ocaml/pull/11102#issuecomment-1191269903

As mentioned in the linked comment, `soli` running time is too small. Either make it run longer or remove the macro benchmark tag. It was a mistake to have tagged it as a macro benchmark in the first place.

[2022-08-29 16:57] #370 closed

[2022-08-31 17:13] #348 closed

[2022-09-01 15:38] ElectreAAS commented on #358
My proposal for this is to move from using `orun` to using `olly`, which does substantially the same thing, only with the more modern `Runtime_events` from Stdlib 5.0.
I made a PR linked above to add a json printing option to olly, so it can be easily consumed by sandmark.
The consumption happens in what used to be bash scripts in sandmark, in #390.

[2022-09-02 08:22] kayceesrk commented on #358
Thanks @ElectreAAS. I agree with the observersation. In fact, I added the `latency` subcommand to olly for exactly this purpose. Thanks for moving this forward.

[2022-09-06 07:02] ElectreAAS commented on #358
I have so far modified the bash script `pausetimes/pausetimes_multicore`, which seems to do the job, but there is another bash script (`pausetimes_trunk`) in the same directory that uses the outdated eventlog. Should I modify this one too?

[2022-09-07 08:35] shakthimaan opened #393 "Multicore parallel benchmark support for 4.14"
The `domainslib4.x` branch with `dune.2.9.0` is used to build the parallel benchmarks in Sandmark to support 4.14 using the following commands in the CI:
[code]
At present it fails with the following error messages, and the benchmarks need to be updated to support both 4.x and 5.x branches:
...
opam exec --switch 4.14.0 -- rungen _build/4.14.0_1 multicore_parallel_run_config_filtered_filtered_2dom

[2022-09-07 14:03] shakthimaan commented on #393
Yes, we can have mock `Atomic` and `Domain` modules with a README note on the same for 4.14. Sure, we can disable the global-roots benchmarks for 4.14. Please share a PR with the necessary changes, and I can test the same. Thanks!

[2022-09-25 17:18] shakthimaan opened #398 "Fix Uuidm.create, Stdlib.Printf.kprintf and ocaml_deprecated_auto_include compiler warnings"
The follower warnings during sequential benchmarks run build need to be fixed:
[code]

[2022-09-25 17:35] shakthimaan opened #399 "`mtime.1.2.0` fails to build with 5.1.0+trunk"
`mtime.1.2.0` is now failing to build with 5.1.0+trunk with the following error:
[code]

[2022-10-07 05:52] shakthimaan opened #401 "Add MaPLe benchmarks to Sandmark"
A number of benchmarks from the MaPLe available at:

  https://github.com/MPLLang/parallel-ml-bench/tree/main/ocaml

The benchmarks are also mentioned in the papers by Sam Westrick at:

  https://www.cs.cmu.edu/~swestric/

It will be useful to create an OCaml version of the same for inclusion in Sandmark.

[2022-10-07 06:01] #399 closed

[2022-10-12 14:22] shwestrick commented on #401
Would be great to see these in sandmark! The `tokens`, `primes`, `msort_ints`, and `msort_strings` benchmarks are all new. I may add some more benchmarks in the future, too.

The OCaml source at https://github.com/MPLLang/parallel-ml-bench/tree/main/ocaml should be good to go straight out of the box with OCaml 5 and domainslib 0.4.2. The [accompanying library](https://github.com/MPLLang/parallel-m

[2022-10-28 05:36] shakthimaan opened #406 "graph500 failing"
@OlivierNicole The `graph500` benchmark is failing on navajo server with the following error message:
[code]

[2022-10-28 11:42] OlivierNicole commented on #406
“No space left on device” is a bit strange, as I do not expect the generated file to be bigger than 1 GB. But maybe that is too much, in which case the `-scale` parameter can be lowered down a few notches (output size should be halved at each decrement).

[2022-11-01 17:03] #401 closed

[2022-11-03 16:37] #398 closed

[2022-11-04 07:38] kayceesrk commented on #358
This issue and #362 seem similar. It may be better to close one of them so that the discussion is not split between the two.

[2022-11-07 10:21] OlivierNicole commented on #281
I am unable to view parallel benchmarks again due to an interface error @shakthimaan.

![image](https://user-images.githubusercontent.com/14031333/200286322-bb87a47e-badc-4b94-bfab-ed0aba51863a.png)

[2022-11-07 11:25] punchagan commented on #281
@OlivierNicole apologies for the inconvenience and thanks for the report!

This should now be [fixed](https://sandmark.tarides.com/?app=Parallel+Benchmarks&parallel_01=20221104&parallel_num_variants=1&parallel_find_by=variant&parallel_02=navajo_5.1.0%2Btrunk%2Bparallel_20221104_9d5c55c&parallel_00=5.1.0%2Btrunk%2Bparallel)

[2022-11-07 14:18] OlivierNicole commented on #281
Indeed, thank you!

[2022-11-14 17:30] #406 closed

[2022-11-14 19:52] Firobe commented on #362
Closing in favor of https://github.com/ocaml-bench/sandmark/issues/358

[2022-11-14 19:52] #362 closed

[2022-11-17 09:07] shakthimaan opened #416 "Add benchmarks from frama-c Open Source case studies"
Time and memory regressions have been reported on frama-c benchmarks for OCaml 5.x. at https://github.com/ocaml/ocaml/issues/11733. It is useful to add these benchmarks to Sandmark.

[2022-11-21 09:54] #358 closed

[2022-11-22 01:48] kayceesrk commented on #358
Is there an issue for tracking the development of UI / jupyter notebook for the instrument pausetimes?

FYI the latency metrics should not / need not use the instrumented runtime now. The default runtime itself produces the runtime events in the ring buffer. Please ensure that the builds are not using instrumented pausetimes.

[2022-11-22 14:45] Firobe opened #420 "Include pausetimes in jupyter notebook"
Continuation of https://github.com/ocaml-bench/sandmark/issues/358#issuecomment-1322898548

Pausetimes runs should be added to nightly and the results should be accessible via jupyter notebooks.
Care should be taken to not use the instrumented runtime (this should already be the case).

[2022-11-22 14:45] Firobe commented on #358
I just created an issue for it https://github.com/ocaml-bench/sandmark/issues/420

OK!

[2022-11-22 15:28] shakthimaan commented on #358
Do you need the latency graphs to be displayed on a separate page in the Sandmark Nightly service?

[2022-11-22 17:05] kayceesrk commented on #358
I don't mind if this is a separate page or is on the same page as the `sequential` and `parallel` benchmarks.

[2022-11-28 18:40] Firobe commented on #420
First step towards this, adding pausetimes to nightly runs: https://github.com/ocaml-bench/sandmark/pull/424